:root {
    --primary: #1A1A1A;
    --secondary: #8C867E;
    --tertiary: #1B1A19;
    --background: #fdf8f8;
    --neutral: #797676;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alat-section {
    margin-top: 100px;
    scroll-margin-top: 100px;
}

.header-alat {
    text-align: center;
}

.alat-section-container {
    width: 100%;             
    max-width: 1200px;      
    margin: 50px auto 100px auto; 
    background-color: var(--background);
    color: var(--primary);
    padding: 40px;                
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 60px;                      
    align-items: start;             
    position: relative;
    overflow: hidden;
    border: 1px solid var(--secondary);
    border-radius: 10px;
}

.kategori-wrapper {
    display: flex;
    flex-direction: column;
}

.subjudul-tools {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 20px; 
}

.subjudul {
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--primary);
    display: inline-block;
    padding-bottom: 5px;
}

.group-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 25px;          
    align-items: center;
}

.group-logo img {
    width: 50px;
    height: 50px;       
    object-fit: contain;
}